@model Web_GemsPortal.Models.M_News
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    var breadCrumb = new Web_GemsPortal.ViewModels.VM_BreadCrumb
    {
        currentName = Model.title,
        lv1Name = "Tư vấn",
        lv1Url = "/tu-van",
        lv2Name = Model.categoryObj?.name,
        lv2Url = $"/tu-van?c={Model.categoryId}",
    };
}
@section MetaHead{
    <meta name="robots" content="noodp,noydir,index,follow" />
    <link href="~/lib/ladda/ladda.min.css" rel="stylesheet" />
}
@section Styles{
    <link href="~/css/pages/news_detail.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts{
    <script src="~/lib/ladda/spin.min.js"></script>
    <script src="~/lib/ladda/ladda.min.js"></script>
    <script src="~/controllers/consulting_detail.js" asp-append-version="true"></script>
}
<input type="hidden" id="input_news_id" value="@Model.id" />
<input type="hidden" id="input_category_id" value="@Model.categoryId" />
<!-- breadcrumb start -->
<partial name="_P_BreadCrumb" model="breadCrumb" />
<!-- breadcrumb end -->
<!-- content section start -->
<section class="blog-detail-page section-b-space ratio2_3 blog-page blog_page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <img src="@(string.IsNullOrEmpty(Model.imageObj?.relativeUrl) ? "/assets/images/error/news.png" : Model.imageObj?.relativeUrl)"
                     class="img-fluid blur-up lazyload" alt="@Model.title"
                     onerror="this.onerror=null;this.src='/assets/images/error/news.png';"
                     style="display:block;margin-left:auto;margin-right:auto;max-width: 100%; width: auto !important; max-height: 500px;">
                <h3>@Model.title</h3>
                <ul class="post-social">
                    <li><i class="ti-calendar"></i> @Model.createdAt.ToString("dd-MM-yyyy")</li>
                    <li><a href="javascript:void(0)" id="btn_register_course" class="btn-effect offset d-block text-center">Đăng ký tham gia</a></li>
                </ul>
                @Html.Raw(Model.detail)
            </div>
        </div>
    </div>
</section>
<section class="blog section-b-space ratio2_3 slick-default-margin blog_page_relate">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title4">
                    <h2 class="title-inner4">Bài viết liên quan</h2>
                    <div class="line"><span></span></div>
                </div>
                <div class="no-arrow" id="div_news_related">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- content section end -->
