@{
    var supplierInfo = ViewBag.SupplierInfo as Web_GemsPortal.Models.M_Supplier;
}
@{
    int categoryId = Convert.ToInt32(ViewBag.categoryId);
    string categoryTitle = ViewBag.categoryTitle;
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    var breadCrumb = new Web_GemsPortal.ViewModels.VM_BreadCrumb
            {
                currentName = string.IsNullOrEmpty(categoryTitle) ? "Giới thiệu" : categoryTitle,
                lv1Name = !string.IsNullOrEmpty(categoryTitle) ? "Giới thiệu" : categoryTitle,
                lv1Url = string.IsNullOrEmpty(categoryTitle) ? "" : "/gioi-thieu",
            };
    var listQuality = ViewBag.ListQuality as List<M_News>;
    var listNews = ViewBag.ListNews as List<M_News>;
}
@section MetaHead {
    <meta name="robots" content="noodp,noydir,index,follow" />
}
@section Styles {
    <link href="~/assets/css/style_v2.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts {
    <script src="~/controllers/about.js" asp-append-version="true"></script>
}
<input type="hidden" id="input_category_id" value="@ViewBag.categoryId" />
<input type="hidden" id="input_page" value="@ViewBag.page" />
<input type="hidden" id="input_record" value="@ViewBag.record" />
<partial name="_P_BreadCrumb" model="breadCrumb" />
<section class="py-3 blog-page ratio2_3 about_us">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-7" id="div_main_data">
            </div>
            @if (listNews != null || listQuality != null)
            {
                <div class="col-xl-4 col-lg-5 col-md-5">
                    <div class="blog-sidebar">
                        @if (listQuality != null && listQuality.Count > 0)
                        {
                            <div class="theme-card">
                                <h4><i class="fa fa-certificate text-danger" aria-hidden="true"></i> Chứng nhận</h4>
                                <ul class="popular-blog">
                                    @foreach (var item in listQuality)
                                    {
                                        <li class="mb-2">
                                            <a href="/chung-nhan/item.titleSlug-@item.id" class="media">
                                                <img style="aspect-ratio: 1 / 1; height: 70px;" class="img-fluid blur-up lazyloaded" src="@(string.IsNullOrEmpty(item.imageObj?.mediumUrl) ? " /assets/images/error/news.png" : item.imageObj?.mediumUrl)" alt="@(item.title ?? "")">
                                                <div class="media-body align-self-center mx-1">
                                                    <h6 class="sp-line-4 fs-7" data-toggle="tooltip" data-placement="right" title="@(item.title ?? "")">@(item.title ?? "")</h6>
                                                    <p class="sp-line-2 mt-1">@(item.description ?? "")</p>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        @if (listNews != null && listNews.Count > 0)
                        {
                            <div class="theme-card">
                                <h4><i class="fa fa-newspaper-o text-danger" aria-hidden="true"></i> Tin tức & Cẩm nang</h4>
                                <ul class="popular-blog">
                                    @foreach (var item in listNews)
                                    {
                                        <li class="mb-2">
                                            <a href="/tin-tuc/@item.titleSlug-@item.id" class="media">
                                                <img style="aspect-ratio: 1 / 1; height: 70px;" class="img-fluid blur-up lazyloaded" src="@(string.IsNullOrEmpty(item.imageObj?.mediumUrl) ? " /assets/images/error/news.png" : item.imageObj?.mediumUrl)" alt="@(item.title ?? "")">
                                                <div class="media-body align-self-center mx-1">
                                                    <h6 class="sp-line-4 fs-7" data-toggle="tooltip" data-placement="right" title="@(item.title ?? "")">@(item.title ?? "")</h6>
                                                    <p class="sp-line-2 mt-1">@(item.description ?? "")</p>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row div_pagination" style="display:none">
            <div class="col-12 col-md-12 col-lg-12 news_wrappper order-2 order-md-3 order-lg-3">
                <div class="product-pagination mt-4">
                    <div class="theme-paggination-block">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 order-2">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination text-center" id="ul_main_pagination" style="padding-right:0;justify-content:center"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section
>