@model M_Supplier
@{
    var menuNewsCateogry = ViewBag.NewsCategory as List<M_NewsCategory>;
    var menuNews = menuNewsCateogry?.Where(x => x.typeId == EN_NewsCategoryTypeId.News).ToList();
}

<div class="offcanvas offcanvas-end text-inverse" id="offcanvas-info" data-bs-scroll="true" style="background-image:url('/img/hydrogen/picture-2.jpg'); background-repeat: round;">
    <div class="particles-js" id="particles-info-header"></div>
    <div class="offcanvas-header">
        <h3 class="text-white fs-30 mb-0 notranslate">@Model.name</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pb-6">
        @* <div class="widget mb-8">
            <p>@Model.name</p>
        </div> *@
        <div class="widget mb-8">
            <h4 class="widget-title text-white mb-3 text-uppercase">Thông tin liên hệ</h4>
            <address class="mb-1">
                <a href="https://www.google.com/maps/dir/?api=1&destination=@Model?.addressObj?.latitude,@Model?.addressObj?.longitude" rel="noreferrer" target="_blank">
                    <i class="uil uil-location-pin-alt"></i>
                    @if (!string.IsNullOrEmpty(Model.addressObj?.addressText))
                    {
                        <span>@Model.addressObj?.addressText,</span>
                    }
                    @if (!string.IsNullOrEmpty(Model.addressObj?.wardObj?.name))
                    {
                        <span>@Model.addressObj?.wardObj?.name,</span>
                    }
                    @if (!string.IsNullOrEmpty(Model.addressObj?.districtObj?.name))
                    {
                        <span>@Model.addressObj?.districtObj?.name,</span>
                    }
                    @if (!string.IsNullOrEmpty(Model.addressObj?.provinceObj?.name))
                    {
                        <span>@Model.addressObj?.provinceObj?.name</span>
                    }
                </a>
            </address>
            @if (!string.IsNullOrEmpty(Model.email))
            {
                <p class="mb-1"><a rel="noreferrer" href="mailto:@Model.email" title="@Model.email"><i class="uil uil-envelope"></i>&nbsp; @Model.email</a></p>
            }
            @if (!string.IsNullOrEmpty(Model.telephoneNumber))
            {
                <p class="mb-1"><a href="tel:@Model.telephoneNumber" title="@Model.telephoneNumber"><i class="uil uil-phone"></i>&nbsp; Điện thoại: @Model.telephoneNumber</a></p>
            }
            @if (!string.IsNullOrEmpty(Model.hotlineNumber))
            {
                <p class="mb-1"><a href="tel:@Model.hotlineNumber" title="@Model.hotlineNumber"><i class="uil uil-phone"></i>&nbsp; Hotline: @Model.hotlineNumber</a></p>
            }
        </div>
       @*  <div class="widget mb-8">
            <h4 class="widget-title text-white mb-3 text-uppercase">Cập nhật tin tức mới nhất cùng chúng tôi</h4>
            <ul class="list-unstyled">
                @if (menuNews.Any())
                {
                    foreach (var item in menuNews)
                    {
                        <li><a class="text-capitalize" href="/tin-tuc?c=@item.id">@item.name</a></li>
                    }
                }
            </ul>
        </div> *@
        <div class="widget">
            <h4 class="widget-title text-white mb-3 text-uppercase">Theo dõi chúng tôi</h4>
            <nav class="nav social social-white">
                @if (!string.IsNullOrEmpty(Model.facebook))
                {
                    <a href="@Model.facebook" title="Facebook" target="_blank" rel="noreferrer"><i class="uil uil-facebook-f"></i></a>
                }
                @if (!string.IsNullOrEmpty(Model.youtube))
                {
                    <a href="@Model.youtube" title="Youtube" target="_blank" rel="noreferrer"><i class="uil uil-youtube"></i></a>
                }
                @if (!string.IsNullOrEmpty(Model.zalo))
                {
                    <a href="@Model.zalo" title="Zalo" target="_blank" rel="noreferrer"><i class="fa uil-comment"></i></a>
                }
                @if (!string.IsNullOrEmpty(Model.instagram))
                {
                    <a href="@Model.instagram" title="Instagram" target="_blank" rel="noreferrer"><i class="uil uil-instagram"></i></a>
                }
                @if (!string.IsNullOrEmpty(Model.twitter))
                {
                    <a href="@Model.twitter" title="Twitter" target="_blank" rel="noreferrer"><i class="uil uil-twitter"></i></a>
                }
                @if (!string.IsNullOrEmpty(Model.tiktokUrl))
                {
                    <a href="@Model.tiktokUrl" title="Tiktok" target="_blank" rel="noreferrer"><i class="uil uil-music-note"></i></a>
                }
            </nav>
        </div>
    </div>
</div>
@* <div class="offcanvas offcanvas-top bg-light" id="offcanvas-search" data-bs-scroll="true">
    <div class="container d-flex flex-row py-6">
        <form class="search-form w-100" method="get" action="/Product/Search">
            <input id="search-form" name="keyword" type="text" class="form-control" placeholder="Nhập từ khóa..." maxlength="100">
        </form>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
</div> *@
